.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
exercises/.DS_Store
exercises/assets/.DS_Store
exercises/assets/.DS_Store
*.feather
.feather
.parquet
*.parquet
final_project/build_american_stories_dataset/data_by_year/arrow_zip_large/
final_project/build_american_stories_dataset/data_by_year/arrow_zip_large.zip
*.feather.zip
*.DS_Store